#results{ 
    display:flex; 
    flex-direction:row; 
    justify-content:center; 
    background:#7CB9E4; 
    color:white;
    opacity: 1;
    cursor: pointer;
    transition:2s ease-in;
    }

#buttons{
    text-decoration: none; 
    color: white; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    text-align: center;
    margin: 10px;       
    width:100px;
    height:55px;
    transition: ease-out 0.5s;
}

#buttons:hover{
    box-shadow: inset 100px 0 0 0 lightseagreen;
}

